div#body {
    max-width: 80%;
    margin:    auto;
    display:   block;
    height: 80%;
}

.me {
    width:   45%;
    float:   left;
    padding: 10px;
}

.others {
    padding: 10px;
    width:   45%;
    float:   right;

}

